/* =========================
   SECTION 4
========================= */

.sctComoFunciona {
  background: var(--branco);
  background-position: center;
  overflow: hidden;
  position: relative;
  padding: 10vh 0;
  border-radius: 2vw;
  display: flex;
  font-family: var(--fonte-texto);
}

.DivComoFunciona {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  padding-right: 38vw;
}

.DivComoFunciona h1 {
  z-index: 2;
  color: var(--preto);
  font-family: var(--fonte-titulo);
  font-size: clamp(2rem, 3vw, 3.2rem);
  max-width: 42vw;
}

.BDestaque-azul {
  color: var(--azul-claro);
  font-weight: bolder;
}

.DivComoFunciona-Texto {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 28vw;
  z-index: 2;
  margin-left: 5vw;
  margin-bottom: -37vh;
  padding-top: 3vh;
  padding-bottom: 55vh;
  height: 80vh;
}

.DivComoFunciona-Texto h3,
.DivComoFunciona-Texto p {
  z-index: 2;
  text-align: justify;
  height: 10vh;
}

.DivComoFunciona-Texto h3 {
  color: var(--preto);
  font-family: var(--fonte-titulo);
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  padding-top: 3.3vh;
}

.DivComoFunciona-Texto p {
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  padding-top: 1vh;
}

.LinhaComoFunciona {
  margin-top: 4.1vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25.4%;
  left: 14%;
}

.LinhaParagrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CircleComoFunciona {
  width: 2vw;
  height: 2vw;
  min-width: 30px;
  min-height: 30px;
  background: var(--azul-escuro);
  color: var(--branco);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-texto);
  font-weight: bold;
  z-index: 2;
}

#Circle1 {
  margin-bottom: 1vh;
}

#Circle2 {
  margin-bottom: 1vh;
}

.Linha {
  width: 0;
  height: 8vh;
  border-left: 0.25vw dashed var(--azul-claro);
}

.CardComoFunciona {
  position: relative;
  background: var(--verde-claro);
  width: 25vw;
  height: 10vh;
  border-radius: 0.8vw;
}

.IconCadeado {
  position: absolute;
  top: 23%;
  left: 9%;
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  color: var(--azul);
}

.CardComoFunciona h3 {
  text-align: justify;
  font-family: var(--fonte-texto);
  width: 75%;
  letter-spacing: -0.05vw;
  line-height: 1.1;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  padding-left: 3vw;
  padding-top: 0.5vh;
}

.ImgPessoa {
  position: absolute;
  right: 18vh;
  bottom: -18vh;
  width: 40vw;
}

.ImgBolinhasAzuis1 {
  position: absolute;
  z-index: 0;
  width: 20vw;
  top: 50vh;
  left: -10vw;
  rotate: 90deg;
}

.ImgBolinhasAzuis2 {
  position: absolute;
  z-index: 1;
  width: 20vw;
  top: 10vh;
  right: -10vw;
  rotate: 90deg;
}

