/* =========================
   SECTION 4 - COMO FUNCIONA
========================= */

.sctComoFunciona {
  position: relative;
  display: flex;
  background: var(--branco);
  border-radius: 2vw;
  overflow: hidden;
  padding: 10vh 0;
  font-family: var(--fonte-texto);
}

.DivComoFunciona {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 7vh 10vw 0 9vw;
  z-index: 2;
}

.DivComoFunciona h1 {
  position: relative;
  z-index: 2;
  margin: -1rem 0 0 0;
  margin-left: -6rem;
  max-width: 600px;
  color: var(--preto);
  font-family: var(--fonte-titulo);
  font-size: clamp(2rem, 3vw, 3.2rem);
}

.BDestaque-azul {
  color: var(--azul-claro);
  font-weight: 700;
}

.DivComoFunciona-Texto {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(100%, 450px);
  margin-top: -0.2rem;
  padding-top: 1.5rem;
}

.DivComoFunciona-Texto h3,
.DivComoFunciona-Texto p {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.DivComoFunciona-Texto h3 {
  color: var(--preto);
  font-family: var(--fonte-titulo);
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
  margin-bottom: 0.2rem;
}

.DivComoFunciona-Texto p {
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  margin-bottom: 2rem;
}

.LinhaComoFunciona {
  position: absolute;
  top: 130px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.LinhaParagrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CircleComoFunciona {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--azul-escuro);
  color: var(--branco);
  border-radius: 50%;
  font-family: var(--fonte-texto);
  font-weight: 700;
  z-index: 2;
}

.Linha {
  width: 2px;
  height: 80px;
  border-left: 2px dashed var(--azul-claro);
}

.CardComoFunciona {
  position: relative;
  display: flex;
  align-items: center;
  width: min(100%, 400px);
  min-height: 80px;
  margin-top: -0.1rem;
  margin-left: -6rem;
  padding: 1rem 1.5rem 1rem 4.5rem;
  background: var(--verde-claro);
  border-radius: 12px;
  box-sizing: border-box;
}

.IconCadeado {
  position: absolute;
  left: 1.5rem;
  color: var(--azul);
}

.CardComoFunciona h3 {
  width: 100%;
  margin: 0;
  color: var(--preto);
  font-family: var(--fonte-texto);
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: left;
}

.ImgPessoa {
  position: absolute;
  right: 8vw;
  bottom: -7rem;
  width: min(40vw, 600px);
  z-index: 1;
}

.ImgBolinhasAzuis1 {
  position: absolute;
  z-index: 0;
  width: min(20vw, 300px);
  top: 50vh;
  left: -10vw;
  rotate: 90deg;
}

.ImgBolinhasAzuis2 {
  position: absolute;
  z-index: 1;
  width: min(20vw, 300px);
  top: 10vh;
  right: -10vw;
  rotate: 90deg;
}